doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/groups/product-box/9mm-pistol.css')
  body
    .product-display
        h4.product-display__buzz newst gneration glock
        .product-display__img-wrapper
            a.product-display__img-link(href="#")
        h4.product-display__title
            a(href="#") Glock 17, Gen 5
        .product-display__lower-row
            .product-display__price-col
                .product-display__price 628
                .product-display__price-place at Brownells
            .product-display__btn-col
                .product-display__details-btn.price-button
                    a(href="#") #[span.text view details] #[span.price 628] #[span.place at Brownells]
                .product-display__compare-price
                    a(href="#") Compare prices (2 found)
        .product-display__price-note Prices accurate at time of writing
                        
        
