doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/groups/product-box/asus-chromebook.css')
  body
    .product-display
        h4.product-display__buzz Also great
        .product-display__main
            .product-display__img-col
                a.product-display__img-link
                    img.product-display__img(src="/img/groups/product-box/asus-chromebook/asus-chromebook.jpeg" alt="")
            .product-display__content-col
                h4.product-display__title Asus Chromebook C425TA-WH248
                h4.product-display__feature Less memory, still great
                .product-display__description.
                    If the DH384 model is unavailable, get the WH348 variant
                    with half the memory and double the storage instead. It’s
                    still fast enough, and it’s otherwise identical.
                ul.product-display__price
                    li.price-button
                        a(href="") $440* from Newegg
                p.product-display__prev-price *At the time of publishing the price was $300.
        .product-display__arrow-inside
                        
                        
        
