doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/vendor/bootstrap-4.3.1-dist/css/bootstrap.css')
    link(rel='stylesheet', href='/css/groups/product-box/germin-vivoactive-4.css')
  body
    .container.product-display
        .product-display__box
            h4.product-display__buzz Best Overall
            .row.product-display__main
                .col.col-md-4.product-display__img-col
                    a.product-display__img-link
                        img.product-display__img(src="/img/groups/product-box/germin-vivoactive-4/watch.jpg" alt="")
                .col.col-md-8.product-display__content-col
                    .product-display__content
                        h4.product-display__title Germin Vivoactive 4
                        h4.product-display__feature Well-rounded smartwatch
                        .product-display__description.
                            The Vivoactive 4 offers activity trackingn and
                            other useful features, including Body Battery, 
                            Pulse Ox, and more.
                        ul.product-display__price
                            li.price-button
                                a(src="") $270 at Amazon
                            li.price-button
                                a(src="") $270 at Best Buy
                            li.price-button
                                a(src="") $270 at Walmart
                            
                        
                        
        
