doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/groups/product-box/germin-vivoactive-4-custom.css')
  body
    .product-display
        h4.product-display__buzz Best Overall
        .product-display__main
            .product-display__img-col
                a.product-display__img-link
                    img.product-display__img(src="/img/groups/product-box/germin-vivoactive-4/watch.jpg" alt="")
            .product-display__content-col
                h4.product-display__title Germin Vivoactive 4
                h4.product-display__feature Well-rounded smartwatch
                .product-display__description.
                    The Vivoactive 4 offers activity trackingn and
                    other useful features, including Body Battery, 
                    Pulse Ox, and more.
                ul.product-display__price
                    li.price-button
                        a(href="") $270 at Amazon
                    li.price-button
                        a(href="") $270 at Best Buy
                    li.price-button
                        a(href="") $270 at Walmart

                        
                        
        
