doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/vendor/fontawesome-free-5.13.0-web/css/all.css')
  body
    p this is main layout
    //page content here
    include section
    script(src="/js/mod/main.js" type="module")