doctype html
html
    head
        title margin auto
        style.
            .margin-auto-elem {
                border: 1px solid;
                width: 300px;
                margin-left: auto;
            }
    body
        .margin-auto-elem div element
        
