<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <base href="url" target="url" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style></style>
        <script></script>
        <noscript></noscript>
        <link>
    </head>
    <body>
        <header></header>
        <nav></nav>
        <main>
            <section>
                <article>
                    <aside></aside>
                    <details>
                        <summary></summary>
                        
                        <figure>
                            <picture>
                                <source>
                                <img>
                            </picture>    
                            <figcaption></figcaption>
                        </figure>
                        
                        <img>
                        <map>
                            <area>
                        </map>
                        
                        <audio></audio>
                        <video></video>
                        <canvas></canvas>
                        <embed>
                        <object>
                            <param>
                        </object>
                        
                        <dialog></dialog>
                        
                        <h1></h1>
                        <p>
                            <cite></cite>
                            <code></code>
                            <samp></samp>
                            <span></span>
                            <sub></sub>
                            <sup></sup>
                            <meter></meter>
                            <time></time>
                            <abbr></abbr>
                            <dfn></dfn>
                            <q></q>
                            <mark></mark>
                            <em></em>
                            <del></del>
                            <ins></ins>
                            <strong></strong>
                            <kbd></kbd>
                            <var></var>
                            <s></s>
                            <b></b>
                            <i></i>
                            <u></u>
                            
                            <a></a>
                            <br>
                        </p>
                        <hr>
                        
                        <label for="file">Downloading progress:</label>
                        <progress id="file" value="32" max="100"> 32% </progress>
                        
                        <div></div>
                        
                        <template></template>
                        
                        <button></button>
                        
                        <blockquote></blockquote>
                        
                        <ul>
                            <li><data value="productCode">a product</data></li>
                        </ul>
                        
                        <ol>
                            <li></li>
                        </ol>
                        
                        <dl>
                            <dt></dt>
                            <dd></dd>
                        </dl>
                        
                        <table>
                            <caption></caption>
                            <colgroup>
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                        
                        <form>
                            <fieldset>
                                <legend></legend>
                                
                                <label></label>
                                <input>
                                
                                <input list="browsers">
                                <datalist id="browsers">
                                  <option value="Internet Explorer">
                                  <option value="Firefox">
                                  <option value="Chrome">
                                  <option value="Opera">
                                  <option value="Safari">
                                </datalist>
                                
                                <label></label>
                                <textarea></textarea>
                                
                                <label></label>
                                <select>
                                    <optgroup>
                                        <option></option>
                                    </optgroup>
                                </select>
                            </fieldset>
                        </form>
                        
                        <form oninput="x.value=parseInt(a.value)+parseInt(b.value)">0
                            <input type="range" id="a" value="50">100
                            +<input type="number" id="b" value="50">
                            =<output name="x" for="a b"></output>
                        </form>
                    </details>
                </article>
            </section>
        </main>
        <footer>
            <address></address>
        </footer>
    </body>
</html>
