body, html {
  box-sizing: border-box;
  background: #f3f3f3 none repeat scroll;
  overflow-x: auto;
  min-width: 1000px;
  margin-top: 1px;
  padding: 0;
  font-size: 13px;
  line-height: 19px; }

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  outline: none;
  border: none;
  padding: 0; }

ul {
  margin: 0;
  padding: 0; }

ul li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

p {
  margin-bottom: 0;
  line-height: 1.75;
  font-size: 16px;
  color: #333333;
  font-weight: 400; }

a {
  color: #0066c0;
  cursor: pointer;
  text-decoration: none; }
