doctype html
html
  head
    title Amazon associates

    link(rel='stylesheet', href='/vendor/fontawesome-free-5.13.0-web/css/all.css')
    link(rel='stylesheet', href='/vendor/bootstrap-4.3.1-dist/css/bootstrap.css')

    link(rel='stylesheet', href='/css/another.css')
    script(src="/js/mod/main.js" type="module")
    
  body
    p this another layout
    include header
    block content
    include footer
    
    script(src="/vendor/jquery-3.5.0.js" type="text/javascript")
    script(src="/vendor/popper-1.16.1/javascript/popper.js" type="text/javascript")
    script(src="/vendor/bootstrap-4.3.1-dist/js/bootstrap.js" type="text/javascript")
    script(src="/vendor/konva.js" type="text/javascript")
    

