doctype html
html
    head
        title TODO supply a title
        base(href="url" target="url")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        style
        script
        noscript
        link(rel='stylesheet', href='/dev/css/devcss.css')
    body
        header
        nav
        main
            article
                section
                aside
                details
                    summary
                    figure
                        picture
                            source
                            img
                        figcaption
                    img
                    map
                        area
                    audio
                    video
                    canvas
                    embed
                    object
                        param
                    dialog
                    h1
                    p
                        cite
                        code
                        samp
                        span
                        sub
                        sup
                        meter
                        time
                        abbr
                        dfn
                        q
                        mark
                        em
                        del
                        ins
                        strong
                        kbd
                        var
                        s
                        b
                        i
                        u
                        a
                        br
                    hr
                    label(for="file") Downloading progress:
                    progress#file(value="32" max="100") 32%
                    div
                    template
                    button
                    blockquote
                    ul
                        li #[data(value="productCode") a product]
                    ol
                        li
                    dl
                        dt
                        dd
                    table
                        caption
                        colgroup
                            col
                        thead
                            tr
                                td
                        tbody
                            tr
                                td
                            tr
                        tfoot
                            tr
                                td
                    form
                        fieldset
                            legend
                            label
                            input
                            input(list="browsers")
                            datalist#browsers
                              option(value="Internet Explorer")
                              option(value="Firefox")
                              option(value="Chrome")
                            label
                            textarea
                            label
                            select
                                optgroup
                                    option

