doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/singlets/product-box.css')
  body
    .pistol-product-display
        .pistol-product-display__buzz newst gneration glock
        .pistol-product-display__img-wrapper
            a.pistol-product-display__img-link(href="#")
                img(src="/img/singlets/product-box/9mm-pistol.jpg")
        h4.pistol-product-display__title
            a(href="#") Glock 17, Gen 5
            .strike-throuhg
        .pistol-product-display__lower-row
            .pistol-product-display__price-col
                .pistol-product-display__price 628
                .pistol-product-display__price-place at Brownells
            .pistol-product-display__btn-col
                .pistol-product-display__details-btn
                    a(href="#") #[span.text view details] #[span.price 628] #[span.place at Brownells]
                .pistol-product-display__compare-price
                    a(href="#") Compare prices (2 found)
        .pistol-product-display__price-note Prices accurate at time of writing




        
    .laptop-product-display
        h4.laptop-product-display__buzz Also great
        .laptop-product-display__main
            .laptop-product-display__img-col
                a.laptop-product-display__img-link
                    img.laptop-product-display__img(src="/img/groups/product-box/asus-chromebook/asus-chromebook.jpeg" alt="")
            .laptop-product-display__content-col
                h4.laptop-product-display__title Asus Chromebook C425TA-WH248
                h4.laptop-product-display__feature Less memory, still great
                .laptop-product-display__description.
                    If the DH384 model is unavailable, get the WH348 variant
                    with half the memory and double the storage instead. It’s
                    still fast enough, and it’s otherwise identical.
                ul.laptop-product-display__price
                    li.laptop-price-button
                        a(href="") $440* from Newegg
                p.laptop-product-display__prev-price *At the time of publishing the price was $300.
        .laptop-product-display__arrow-inside
                        
                        
        
    .laptop-shadow-product-display
        h4.laptop-shadow-product-display__buzz Also great
        .laptop-shadow-product-display__main
            .laptop-shadow-product-display__img-col
                a.laptop-shadow-product-display__img-link
                    img.laptop-shadow-product-display__img(src="/img/groups/product-box/asus-chromebook/asus-chromebook.jpeg" alt="")
            .laptop-shadow-product-display__content-col
                h4.laptop-shadow-product-display__title Asus Chromebook C425TA-WH248
                h4.laptop-shadow-product-display__feature Less memory, still great
                .laptop-shadow-product-display__description.
                    If the DH384 model is unavailable, get the WH348 variant
                    with half the memory and double the storage instead. It’s
                    still fast enough, and it’s otherwise identical.
                ul.laptop-shadow-product-display__price
                    li.laptop-shadow-price-button
                        a(href="") $440* from Newegg
                p.laptop-shadow-product-display__prev-price *At the time of publishing the price was $300.
        .laptop-shadow-product-display__arrow-inside
        


    .watch-product-display
        h4.watch-product-display__buzz Best Overall
        .watch-product-display__main
            .watch-product-display__img-col
                a.watch-product-display__img-link
                    img.watch-product-display__img(src="/img/groups/product-box/germin-vivoactive-4/watch.jpg" alt="")
            .watch-product-display__content-col
                h4.watch-product-display__title Germin Vivoactive 4
                h4.watch-product-display__feature Well-rounded smartwatch
                .watch-product-display__description.
                    The Vivoactive 4 offers activity trackingn and
                    other useful features, including Body Battery, 
                    Pulse Ox, and more.
                ul.watch-product-display__price
                    li.watch-price-button
                        a(href="") $270 at Amazon
                    li.watch-price-button
                        a(href="") $270 at Best Buy
                    li.watch-price-button
                        a(href="") $270 at Walmart

